<div *ngIf="coursesInfo">
  <form
    name="courseForm"
    (ngSubmit)="goToScoreCard(courseForm.value)"
    #courseForm="ngForm"
  >
    <div *ngFor="let number of [0, 1, 2]" (change)="onCourseSelect()">
      <label for="{{ coursesInfo[number].name }}">
        <app-course-selection [(info)]="coursesInfo[number]">
        </app-course-selection>
        <input
          name="courseForm"
          type="radio"
          id="{{ coursesInfo[number].id }}"
          value="{{ coursesInfo[number].id }}"
          ngModel
        />
      </label>
    </div>
    <div>
      <label for="playerCount">Player Count:</label>
      <select
        id="playerCount"
        name="playerCount"
        (change)="onPlayerSelect()"
        ngModel
      >
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
      </select>
    </div>
    <div>
      <button type="submit" disabled id="courseSelectionButton">Submit</button>
    </div>
  </form>
</div>
