<tr>
  <th>
    <input placeholder="Player" />
  </th>
  <td>
    <input type="number" id="Score1" />
  </td>
  <td>
    <input type="number" id="Score2" />
  </td>
  <td>
    <input type="number" id="Score3" />
  </td>
  <td>
    <input type="number" id="Score4" />
  </td>
  <td>
    <input type="number" id="Score5" />
  </td>
  <td>
    <input type="number" id="Score6" />
  </td>
  <td>
    <input type="number" id="Score7" />
  </td>
  <td>
    <input type="number" id="Score8" />
  </td>
  <td>
    <input type="number" id="Score9" />
  </td>
  <td id="outTotal">
    (Score1 + Score2 + Score3 + Score4 + Score5 + Score6 + Score7 + Score8 +
    Score9)
  </td>
  <td>
    <input type="number" id="Score10" />
  </td>
  <td>
    <input type="number" id="Score11" />
  </td>
  <td>
    <input type="number" id="Score12" />
  </td>
  <td>
    <input type="number" id="Score13" />
  </td>
  <td>
    <input type="number" id="Score14" />
  </td>
  <td>
    <input type="number" id="Score15" />
  </td>
  <td>
    <input type="number" id="Score16" />
  </td>
  <td>
    <input type="number" id="Score17" />
  </td>
  <td>
    <input type="number" id="Score18" />
  </td>
  <td id="inTotal">
    (Score10 + Score11 + Score12 + Score13 + Score14 + Score15 + Score16 +
    Score17 + Score18)
  </td>
  <td>(frontTotal + backTotal)</td>
</tr>
